body {
  background-color: #f089b1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-width: 400px; */
  height: 500px;
  background-color: white;
  border-radius: 0.5rem;
}
.image {
  height: 90px;
}
img {
  max-width: 90px;
  height: 90px;
  border-radius: 50px;
}
.container {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  width: 40%;
  padding: 0.5rem;
}
.common {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 350px;
  margin: 0 1rem;
}
.side {
  display: inline-block;
  position: relative;
  top: -15px;
  text-align: left;
  margin-left: 0.5rem;
  width: 100%;
}
button {
  background-color: #fa6aaa;
  width: 200px;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 3px;
  color: white;
  padding: 1rem;
}
@media (max-width: 375px) {
  .App {
    height: 870px;
    overflow: hidden;
  }
  .common {
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 667px) {
  body {
    height: 100%;
  }
}
